<template>
  <footer class="footer">
    <div class="container-fluid d-flex flex-wrap justify-content-between">
      <nav>
        <ul class="footer-menu">
          <li>
            <router-link :to="{path:'/dashboard'}">About Pharmacy</router-link>
          </li>
          <li>
            <router-link :to="{path:'/dashboard'}">Contact Us</router-link>
          </li>
          <li>
            <router-link :to="{path:'/dashboard'}">Terms and Conditions</router-link>
          </li>
          <li>
            <router-link :to="{path:'/dashboard'}">Blog</router-link>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy; {{year}}, copyright
        <a href="https://PharmacyOnline.co.uk/">PharmacyOnline.co.uk</a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  data () {
    return {
      year: new Date().getFullYear()
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
