<template>
  <div class="container pt-4 pb-4 first-section d-flex align-items-center justify-content-start">
    <img class="main-back" src="@/assets/image/background.png" />
      <h2 class="top-header">
        We strive to make ethical <br/>
        business choices when it comes<br/>
        to <span class="top-header-span">preventing modern slavery</span><br/>
        and <span class="top-header-span">human trafficking</span>
      </h2>
  </div>
</template>

<script>
export default {
  name: 'first-section'
}
</script>

<style lang="scss" scoped>
  .first-section {
    position: relative;
    min-height: 500px;
  }
  .main-back {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .top-header {
    z-index: 10;
    color: #414141;
  }
  .top-header-span {
    color: #6bdbb8;
  }
</style>
