<template>
  <div class="container-fluid fourth-section pt-5 pb-5">
    <h2 class="fourth-heading">Contact Us</h2>
    <div class="fourth-desc">
      Please fill fields below and we will call your back the same day
    </div>
    <div class="mt-4 d-flex d-column align-items-center justify-content-center">
      <fg-input
        class="fourth-input m-2"
        type="text"
        placeholder="Your Name"
      >
      </fg-input>
      <fg-input
        class="fourth-input m-2"
        type="email"
        placeholder="Your Email Address"
      >
      </fg-input>
      <fg-input
        class="fourth-input m-2"
        type="text"
        placeholder="Phone Number"
      >
      </fg-input>
      <fg-input
        class="fourth-input m-2"
        type="text"
        placeholder="Notes or Comments"
      >
      </fg-input>
      <n-button class="fourth-btn" type="primary" round simple>Send Request</n-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'fourth-section'
}
</script>

<style lang="scss" scoped>
  .fourth-section {
    background-color: #7ad5b8;
  }
  .fourth-heading {
    color: #ffffff;
    text-align: center;
  }
  .d-column {
    flex-direction: column;
  }
  .fourth-desc {
    color: #ffffff;
    text-align: center;
  }
  .fourth-btn {
    color: #ffffff;
    border-color: #ffffff;
  }
  .fourth-btn:focus {
    color: #ffffff;
    border-color: #ffffff;
  }
</style>
