<template>
  <div class="container-fluid second-section pt-5 pb-5">
    <h2 class="second-heading">Our Services</h2>
    <div class="container">
      <div class="d-flex justify-content-between">
        <card class="m-4">
          <div class="mt-4 mb-4 d-column d-flex align-items-center justify-content-center">
            <div class="img-container d-flex align-items-center justify-content-center">
              <img src="@/assets/image/doctor.png" />
            </div>
            <h5 class="card-title-text mt-4 mb-4">Online Doctor</h5>
            <div class="card-body-text ml-4 mr-4">
              I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be  pushing the furthest possibilities.
            </div>
            <a href="#">
              <i class="now-ui-icons arrows-1_minimal-down card-icon m-2"></i>
            </a>
          </div>
        </card>
        <card class="m-4">
          <div class="mt-4 mb-4 d-column d-flex align-items-center justify-content-center">
            <div class="img-container d-flex align-items-center justify-content-center">
              <img src="@/assets/image/private.png" />
            </div>
            <h5 class="card-title-text mt-4 mb-4">Private Prescriptions</h5>
            <div class="card-body-text ml-4 mr-4">
              I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be  pushing the furthest possibilities.
            </div>
            <a href="#">
              <i class="now-ui-icons arrows-1_minimal-down card-icon m-2"></i>
            </a>
          </div>
        </card>
        <card class="m-4">
          <div class="mt-4 mb-4 d-column d-flex align-items-center justify-content-center">
            <div class="img-container d-flex align-items-center justify-content-center">
              <img src="@/assets/image/shop.png" />
            </div>
            <h5 class="card-title-text mt-4 mb-4">Shop</h5>
            <div class="card-body-text ml-4 mr-4">
              I think that’s a responsibility that I have, to push possibilities, to show people, this is the level that things could be at. So when you get something that has the name Kanye West on it, it’s supposed to be  pushing the furthest possibilities.
            </div>
            <a href="#">
              <i class="now-ui-icons arrows-1_minimal-down card-icon m-2"></i>
            </a>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'second-section'
}
</script>

<style lang="scss" scoped>
  .second-section {
    background-color: #fac76a;
  }
  .second-heading {
    color: #ffffff;
    text-align: center;
  }
  .img-container {
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: #fac76a;
  }
  .card-title-text {
    color: #fac76a;
    text-align: center;
  }
  .d-column {
    flex-direction: column;
  }
  .card-body-text {
    color: #2c2c2c;
    text-align: center;
  }
  .card-icon {
    font-size: 30px;
    color: #fac76a;
  }
</style>
