<template>
  <div class="container third-section pt-5 pb-5">
    <h2 class="third-heading">Our Best Sellers</h2>
    <div class="d-flex justify-content-between pb-5">
      <card class="m-4">
        <div class="mt-4 mb-4 d-column d-flex align-items-center justify-content-center">
          <img class="mb-4" src="@/assets/image/medicine3.png" />
          <div class="mt-4 card-desc-text">
            Orliast Capsules 120 mg
          </div>
          <div class="mb-4 card-desc-text">
            from <span class="card-desc-span">£32.99</span>
          </div>
          <n-button class="card-btn" type="primary" round>View More</n-button>
        </div>
      </card>
      <card class="m-4">
        <div class="mt-4 mb-4 d-column d-flex align-items-center justify-content-center">
          <img class="mb-4" src="@/assets/image/medicine2.png" />
          <div class="mt-4 card-desc-text">
            Orliast Capsules 120 mg
          </div>
          <div class="mb-4 card-desc-text">
            from <span class="card-desc-span">£25.50</span>
          </div>
          <n-button class="card-btn" type="primary" round>View More</n-button>
        </div>
      </card>
      <card class="m-4">
        <div class="mt-4 mb-4 d-column d-flex align-items-center justify-content-center">
          <img class="mb-4" src="@/assets/image/medicine1.png" />
          <div class="mt-4 card-desc-text">
            Orliast Capsules 120 mg
          </div>
          <div class="mb-4 card-desc-text">
            from <span class="card-desc-span">19.99</span>
          </div>
          <n-button class="card-btn" type="primary" round>View More</n-button>
        </div>
      </card>
    </div>
    <div class="bottom-section d-column d-flex align-items-start justify-content-start">
      <img class="back-image" src="@/assets/image/method.png" />
      <h2 class="third-heading-1">
        The Easiest Way To Create <br/>
        More wealth
      </h2>
      <div class="bottom-section-desc">
        PharmacyOnline.co.uk strives to make ethical business choices when it comes to preventing<br/>
        modern slavery and human trafficking and not knowingly support or deal with any business that<br/>
        engages in modern slavery or human trafficking. In furtherance of these objectives we confirm<br/>
        than no member of its family of companies engages in modern slavery or human trafficking and<br/>
        that it is reviewing its supply chain controls to ensure it is not supporting modern slavery or human<br/>
        trafficking in any way.
        <br/><br/>
        This statement will be reviewed and published annually.
      </div>
      <n-button class="card-btn" type="primary" round>View More</n-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'third-section'
}
</script>

<style lang="scss" scoped>
  .third-heading {
    color: #414141;
    text-align: center;
  }
  .third-heading-1 {
    color: #414141;
    z-index: 10;
  }
  .d-column {
    flex-direction: column;
  }
  .card-desc-text {
    color: #2c2c2c;
    text-align: center;
  }
  .card-desc-span {
    color: #7ad5b8;
  }
  .card-btn {
    background-color: #7ad5b8;
  }
  .card-btn:focus {
    background-color: #7ad5b8;
  }
  .bottom-section {
    position: relative;
    min-height: 350px;
  }
  .back-image {
    position: absolute;
    top: 0px;
    right: 0px;
  }
  .bottom-section-desc {
    color: #414141;
    z-index: 10;
  }
</style>
