<template>
  <div>
    <first-section></first-section>
    <second-section></second-section>
    <third-section></third-section>
    <fourth-section></fourth-section>
  </div>
</template>

<script>
import FirstSection from '../components/FirstSection'
import SecondSection from '../components/SecondSection'
import ThirdSection from '../components/ThirdSection'
import FourthSection from '../components/FourthSection'

export default {
  components: {
    FirstSection,
    SecondSection,
    ThirdSection,
    FourthSection
  }
}
</script>

<style lang="scss" scoped>
</style>
