<template>
  <div class="sidebar"
       :data-color="backgroundColor">
    <div class="logo">
      <img :src="logo">
    </div>
    <div class="sidebar-wrapper" ref="sidebarScrollArea">
      <slot></slot>
      <ul class="nav">
        <slot name="links">
          <sidebar-item v-for="(link, index) in sidebarLinks"
                        :key="link.name + index"
                        :link="link">

            <sidebar-item v-for="(subLink, index) in link.children"
                          :key="subLink.name + index"
                          :link="subLink">
            </sidebar-item>
          </sidebar-item>
        </slot>
      </ul>
      <div class="add-button-container">
        <n-button class="my-font-size" type="success" round>
          <i slot="label" class="now-ui-icons ui-1_simple-add"></i>
          Add new Product
        </n-button>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'sidebar',
  props: {
    title: {
      type: String,
      default: 'Vue NUD PRO'
    },
    backgroundColor: {
      type: String,
      default: '',
      validator: (value) => {
        let acceptedValues = ['', 'blue', 'azure', 'green', 'orange', 'red', 'purple', 'black']
        return acceptedValues.indexOf(value) !== -1
      }
    },
    logo: {
      type: String,
      default: require('@/assets/logo.png')
    },
    sidebarLinks: {
      type: Array,
      default: () => []
    },
    autoClose: {
      type: Boolean,
      default: true
    }
  },
  provide () {
    return {
      autoClose: this.autoClose
    }
  },
  methods: {
    minimizeSidebar () {
      if (this.$sidebar) {
        this.$sidebar.toggleMinimize()
      }
    }
  },
  beforeDestroy () {
    if (this.$sidebar.showSidebar) {
      this.$sidebar.showSidebar = false
    }
  }
}

</script>

<style lang="scss" scoped>
  @media (min-width: 992px) {
    .navbar-search-form-mobile,
    .nav-mobile-menu{
      display: none;
    }
  }
  .sidebar {
    background-color: #ebebeb;
  }
  .sidebar:after {
    background: none;
  }
  .logo {
    padding: 0.7rem 0.7rem !important;
  }
  .logo:after {
    background-color: #b3afaf !important;
  }
  .sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .add-button-container {
    text-align: center;
  }
  .my-font-size {
    font-size: 1em;
  }
</style>
