<template>
  <div class="row">
    <div class="col-12">
      <card card-body-classes="" no-footer-line>
        <h4 slot="header" class="card-title">Latest Orders</h4>
        <div>
          <div class="col-12 d-flex align-items-baseline justify-content-sm-between flex-wrap">
            <div class="d-flex align-items-center justify-content-center">
              <span class="my-label">Show&nbsp;&nbsp;</span>
              <select
                class="form-control"
                style="width: 150px; border-radius: 5px;"
                v-model="pagination.perPage">
                <option
                  v-for="item in pagination.perPageOptions"
                  :key="item"
                  :label="item"
                  :value="item">
                </option>
              </select>
              <span class="my-label">&nbsp;&nbsp;Entries</span>
            </div>
            <fg-input>
              <el-input type="search"
                        clearable
                        prefix-icon="el-icon-search"
                        style="width: 200px"
                        placeholder="Search records"
                        v-model="searchQuery"
                        aria-controls="datatables">
              </el-input>
            </fg-input>

          </div>
          <div class="col-12">
            <el-table stripe
                    style="width: 100%;"
                    class="table-striped"
                    :header-cell-style="{'color': '#000000', 'font-weight': '400'}"
                    :data="queriedData">
              <el-table-column v-for="column in tableColumns"
                              :key="column.label"
                              :min-width="column.minWidth"
                              :prop="column.prop"
                              sortable
                              :label="column.label">
              </el-table-column>
              <el-table-column
                :min-width="135"
                class-name="text-right"
                label="Actions">
                <div slot-scope="props" class="table-actions text-right">
                  <n-button @click.native="handleLike(props.$index, props.row)"
                            class="like"
                            type="info"
                            size="sm" round icon>
                  </n-button>
                  <n-button @click.native="handleEdit(props.$index, props.row)"
                            class="edit"
                            type="success"
                            size="sm" round icon>
                  </n-button>
                  <n-button @click.native="handleDelete(props.$index, props.row)"
                            class="remove"
                            type="danger"
                            size="sm" round icon>
                    <i class="fa fa-times"></i>
                  </n-button>
                </div>
              </el-table-column>
            </el-table>
          </div>
        </div>
        <div slot="footer" class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
          <div class="">
            <p class="card-category">Showing {{from + 1}} to {{to}} of {{total}} entries</p>
          </div>
          <n-pagination class="pagination-no-border"
                        v-model="pagination.currentPage"
                        :per-page="pagination.perPage"
                        :total="total">
          </n-pagination>
        </div>
      </card>
    </div>
  </div>
</template>

<script>
import { Table, TableColumn, Select, Option } from 'element-ui'
import { Pagination as NPagination } from '@/components'
import users from './users'
import Fuse from 'fuse.js'
import swal from 'sweetalert2'

export default {
  components: {
    NPagination,
    // eslint-disable-next-line
    [Select.name]: Select,
    // eslint-disable-next-line
    [Option.name]: Option,
    // eslint-disable-next-line
    [Table.name]: Table,
    // eslint-disable-next-line
    [TableColumn.name]: TableColumn
  },
  computed: {
    /***
      * Returns a page from the searched data or the whole data. Search is performed in the watch section below
      */
    queriedData () {
      let result = this.tableData
      if (this.searchedData.length > 0) {
        result = this.searchedData
      }
      return result.slice(this.from, this.to)
    },
    to () {
      let highBound = this.from + this.pagination.perPage
      if (this.total < highBound) {
        highBound = this.total
      }
      return highBound
    },
    from () {
      return this.pagination.perPage * (this.pagination.currentPage - 1)
    },
    total () {
      return this.searchedData.length > 0 ? this.searchedData.length : this.tableData.length
    }
  },
  data () {
    return {
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      searchQuery: '',
      propsToSearch: ['customer', 'orderID', 'amount', 'dateTime'],
      tableColumns: [
        {
          prop: 'customer',
          label: 'Customer',
          minWidth: 100
        },
        {
          prop: 'status',
          label: 'Status',
          minWidth: 150
        },
        {
          prop: 'dateTime',
          label: 'Date/Time',
          minWidth: 100
        },
        {
          prop: 'orderID',
          label: 'Order #',
          minWidth: 100
        },
        {
          prop: 'amount',
          label: 'Amount',
          minWidth: 100
        }
      ],
      tableData: users,
      searchedData: [],
      fuseSearch: null
    }
  },
  methods: {
    handleLike (index, row) {
      swal({
        title: `You liked ${row.customer}`,
        buttonsStyling: false,
        type: 'success',
        confirmButtonClass: 'btn btn-success btn-fill'
      })
    },
    handleEdit (index, row) {
      swal({
        title: `You want to edit ${row.customer}`,
        buttonsStyling: false,
        confirmButtonClass: 'btn btn-info btn-fill'
      })
    },
    handleDelete (index, row) {
      swal({
        title: 'Are you sure?',
        text: `You won't be able to revert this!`,
        type: 'warning',
        showCancelButton: true,
        confirmButtonClass: 'btn btn-success btn-fill',
        cancelButtonClass: 'btn btn-danger btn-fill',
        confirmButtonText: 'Yes, delete it!',
        buttonsStyling: false
      }).then((result) => {
        if (result.value) {
          this.deleteRow(row)
          swal({
            title: 'Deleted!',
            text: `You deleted ${row.customer}`,
            type: 'success',
            confirmButtonClass: 'btn btn-success btn-fill',
            buttonsStyling: false
          })
        }
      })
    },
    deleteRow (row) {
      let indexToDelete = this.tableData.findIndex((tableRow) => tableRow.id === row.id)
      if (indexToDelete >= 0) {
        this.tableData.splice(indexToDelete, 1)
      }
    }
  },
  mounted () {
    // Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, { keys: ['customer', 'orderID'], threshold: 0.3 })
  },
  watch: {
    /**
      * Searches through the table data by a given query.
      * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
      * @param value of the query
      */
    searchQuery (value) {
      let result = this.tableData
      if (value !== '') {
        result = this.fuseSearch.search(this.searchQuery)
      }
      this.searchedData = result
    }
  }
}
</script>

<style lang="scss" scoped>

  .my-label {
    color: #9a9a9a;
    font-weight: 400;
  }

</style>
