<template>
  <div class="wrapper" :class="{'nav-open': $sidebar.showSidebar}">
    <notifications></notifications>
    <side-bar>
      <template slot-scope="" slot="links">
        <sidebar-item
          :link="{name: 'Orders', icon: 'now-ui-icons shopping_cart-simple', path: '/orders'}"></sidebar-item>
        <sidebar-item
          :link="{name: 'Customers', icon: 'now-ui-icons emoticons_satisfied', path: '/customers'}"></sidebar-item>
        <sidebar-item
          :link="{name: 'products', icon: 'now-ui-icons design_app', path: '/products'}"></sidebar-item>
        <sidebar-item
          :link="{name: 'Categories', icon: 'now-ui-icons design_vector', path: '/categories'}"></sidebar-item>
        <sidebar-item
          :link="{name: 'Media', icon: 'now-ui-icons media-1_camera-compact', path: '/media'}"></sidebar-item>
        <sidebar-item
          :link="{name: 'Another Link', icon: 'now-ui-icons media-1_button-play', path: '/other-link'}"></sidebar-item>
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>
      <router-view name="header"></router-view>

      <div :class="{content: !$route.meta.hideContent}" @click="toggleSidebar">
        <zoom-center-transition :duration="200" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </zoom-center-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>

<script>
import PerfectScrollbar from 'perfect-scrollbar'
import 'perfect-scrollbar/css/perfect-scrollbar.css'

import { ZoomCenterTransition } from 'vue2-transitions'
import TopNavbar from './components/TopNavbar.vue'
import ContentFooter from './components/ContentFooter.vue'

function hasElement (className) {
  return document.getElementsByClassName(className).length > 0
}

function initScrollbar (className) {
  if (hasElement(className)) {
    // eslint-disable-next-line
    new PerfectScrollbar(`.${className}`)
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className)
    }, 100)
  }
}

export default {
  components: {
    TopNavbar,
    ContentFooter,
    ZoomCenterTransition
  },
  methods: {
    toggleSidebar () {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false)
      }
    }
  },
  mounted () {
    let docClasses = document.body.classList
    let isWindows = navigator.platform.startsWith('Win')
    if (isWindows) {
      // if we are on windows OS we activate the perfectScrollbar function
      initScrollbar('sidebar')
      initScrollbar('sidebar-wrapper')

      docClasses.add('perfect-scrollbar-on')
    } else {
      docClasses.add('perfect-scrollbar-off')
    }
  }
}

</script>

<style lang="scss" scoped>
  $scaleSize: .95;
  @keyframes zoomIn95 {
    from {
      opacity: 0;
      transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
    to {
      opacity: 1;
    }
  }
  .main-panel .zoomIn {
    animation-name: zoomIn95;
  }
  @keyframes zoomOut95 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
  }
  .main-panel .zoomOut {
    animation-name: zoomOut95;
  }
</style>
