<template>
  <div>
    <navbar-home :show-navbar="showMenu">
      <div class="navbar-wrapper">
        <div class="navbar-toggle" :class="{toggled: showMenu}">
          <navbar-toggle-button-home @click.native="toggleNavbar">
          </navbar-toggle-button-home>
        </div>
        <a class="navbar-brand" href="#pablo">
          <img src="@/assets/image/logo.png" />
        </a>
      </div>

      <template slot="navbar-menu">
        <router-link class="nav-item" tag="li" to="#">
          <a class="nav-link">
            Online doctor
          </a>
        </router-link>
        <router-link class="nav-item" tag="li" to="#">
          <a class="nav-link">
            Private prescriptions
          </a>
        </router-link>

        <router-link class="nav-item" tag="li" to="#">
          <a class="nav-link">
            Shop
          </a>
        </router-link>

        <router-link class="nav-item" tag="li" to="#">
          <a class="nav-link">
            Contact us
          </a>
        </router-link>

        <router-link class="nav-item" tag="li" to="#">
          <a class="nav-link">
            <i class="now-ui-icons users_single-02"></i>
            Sign up / Sign In
          </a>
        </router-link>

        <router-link class="nav-item" tag="li" to="#">
          <a class="nav-link">
            <i class="now-ui-icons shopping_cart-simple m-green"></i>&nbsp;
            <span class="cart-status">£21.11</span>
          </a>
        </router-link>
      </template>

    </navbar-home>

    <div>
      <zoom-center-transition :duration="pageTransitionDuration" mode="out-in">
        <router-view></router-view>
      </zoom-center-transition>
    </div>

    <footer class="footer">
      <div class="container-fluid p-0">
        <div class="footer-content">
          <div class="container d-flex justify-content-between align-items-start">
            <div class="footer-item">
              <h6 class="m-footer-heading">Now Ui Kit PRO</h6>
              <p class="m-footer-text">
                Probably the best UI Kit in the <br/>
                world! We know you've been <br/>
                waiting for it, so don't be shy!<br/>
              </p>
            </div>
            <div class="footer-item">
              <h6 class="m-footer-heading1">About</h6>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Blog</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">About us</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Presentation</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Contact us</a>
              </div>
            </div>
            <div class="footer-item">
              <h6 class="m-footer-heading1">Market</h6>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Sales Faq</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">How to register</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Sell goods</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Receive payment</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Transactions issues</a>
              </div>
            </div>
            <div class="footer-item">
              <h6 class="m-footer-heading1">Legal</h6>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Transactions Faq</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">Terms & Conditions</a>
              </div>
              <div class="m-footer-link-container">
                <a class="m-footer-link">licenses</a>
              </div>
            </div>
            <div class="footer-item">
              <h6 class="m-footer-heading1">Subscribe to Newsletter</h6>
              <p class="m-footer-text">
                Join our newsletter and get <br/>
                news in your inbox every week! <br/>
                We hate spam too, so no <br/>
                worries about this.<br/>
              </p>
              <div class="d-flex justify-content-center align-items-center">
                <fg-input
                  class="m-footer-email"
                  type="email"
                  placeholder="Your email"
                >
                </fg-input>
                <n-button type="primary" class="m-footer-btn" round icon>
                  <i class="now-ui-icons ui-1_email-85"></i>
                </n-button>
              </div>
            </div>
          </div>
          <div class="container divider-footer">
          </div>
          <div class="container d-flex justify-content-center align-items-center">
            <n-button class="btn-twitter" type="neutral">
              <i class="fa fa-twitter"></i>
            </n-button>
            <n-button class="btn-facebook" type="neutral">
              <i class="fa fa-facebook-square"></i>
            </n-button>
            <n-button class="btn-dribbble" type="neutral">
              <i class="fa fa-dribbble"></i>
            </n-button>
            <n-button class="btn-google" type="neutral">
              <i class="fa fa-google-plus-square"></i>
            </n-button>
            <n-button class="btn-youtube" type="neutral">
              <i class="fa fa-youtube-play"></i>
            </n-button>
          </div>
          <div class="container m-footer-copy">
            Copyright     2019 Pharmacy Online
          </div>
        </div>
        <div class="cn-footer-content d-flex justify-content-center align-items-center pt-4">
          <img src="@/assets/image/cn_logo.png" />
          <span class="cn-footer-text">Developed by CrewNew.com Hand Picked Freelancers</span>
        </div>
      </div>
    </footer>

  </div>
</template>

<script>
import { NavbarHome, NavbarToggleButtonHome } from '@/components'
import { ZoomCenterTransition } from 'vue2-transitions'

export default {
  components: {
    NavbarHome,
    NavbarToggleButtonHome,
    ZoomCenterTransition
  },
  props: {
    backgroundColor: {
      type: String,
      default: 'black'
    }
  },
  data () {
    return {
      showMenu: false,
      menuTransitionDuration: 250,
      pageTransitionDuration: 200,
      year: new Date().getFullYear(),
      pageClass: 'login-page'
    }
  },
  computed: {
    imageStyles () {
      let img = require('@/assets/img/bg13.jpg')
      return {
        backgroundImage: `url(${img})`
      }
    }
  },
  methods: {
    toggleNavbar () {
      document.body.classList.toggle('nav-open')
      this.showMenu = !this.showMenu
    },
    closeMenu () {
      document.body.classList.remove('nav-open')
      this.showMenu = false
    },
    setPageClass () {
      this.pageClass = `${this.$route.name}-page`.toLowerCase()
    }
  },
  beforeDestroy () {
    this.closeMenu()
  },
  beforeRouteUpdate (to, from, next) {
    // Close the mobile menu first then transition to next page
    if (this.showMenu) {
      this.closeMenu()
      setTimeout(() => {
        next()
      }, this.menuTransitionDuration)
    } else {
      next()
    }
  },
  watch: {
    $route () {
      this.setPageClass()
    }
  }
}
</script>

<style lang="scss" scoped>
  $scaleSize: .8;
  @keyframes zoomIn8 {
    from {
      opacity: 0;
      transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
    100% {
      opacity: 1;
    }
  }
  .wrapper-full-page .zoomIn {
    animation-name: zoomIn8;
  }
  @keyframes zoomOut8 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale3d($scaleSize, $scaleSize, $scaleSize);
    }
  }
  .wrapper-full-page .zoomOut {
    animation-name: zoomOut8;
  }
  .nav-link {
    color: #000000 !important;
    font-weight: normal;
  }
  .cart-status {
    color: #000000 !important;
    font-weight: bold;
  }
  .m-green {
    color: #6bdbb7;
  }
  .footer {
    background-color: #f3f3f3;
  }
  .footer-content {
    background-color: #ffffff;
    padding: 15px 0px;
  }
  .m-footer-heading {
    color: #7ad5b8;
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: none;
  }
  .footer-item {
    padding: 15px;
  }
  .m-footer-text {
    color: #9a9a9a;
    font-size: 0.7142em;
  }
  .m-footer-heading1 {
    margin-bottom: 15px;
    font-weight: 400;
    text-transform: none;
  }
  .m-footer-link {
    color: #2c2c2c !important;
    text-transform: uppercase;
    font-size: 0.7142em;
  }
  .m-footer-link-container {
    margin-bottom: 10px;
  }
  .m-footer-btn {
    background-color: #7ad5b8;
  }
  .m-footer-btn:focus {
    background-color: #7ad5b8;
  }
  .m-footer-email {
    margin: 0px 10px 0px 0px;
  }
  .divider-footer {
    background-color: #ecefed;
    height: 1px;
  }
  .m-footer-copy {
    font-size: 12px;
    color: #2c2c2c;
    font-weight: 300;
    text-align: center;
  }
  .cn-footer-text {
    margin-left: 10px;
    font-size: 12px;
    color: #292929;
    font-weight: 300;
  }
</style>
