<template>
  <div class="panel-header panel-header-sm">
  </div>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>

  .panel-header {
    background-image: linear-gradient(0deg, #22b24c 0%, #68de8a 100%);
  }

</style>
